@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');

html {
    box-sizing: border-box;
    font-size: 10px;
    overflow-x: hidden;
}

*,
::after,
::before {
    box-sizing: inherit;
}

:root {
    --pink-1: #c69393;
    --pink-2: #ce2f70;
    --lightPink-1: #f4b8d2;
    --lightPink-2: #efdeed;
    --black-1: #3b413a;
    --black-2: #3f3c3c;
    --black-3: #5b6359;
    --white-1: #e8e8e8;
}

body {
    background-color: var(--lightPink-2);
    overflow-x: hidden;
}

section {
    padding: 100px 0;
}

/* desktop first, tutti i dispositivi da 768px in giù */
@media only screen and (max-width: 768px){
    section {
        padding: 50px 0;
    }
} 

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 90%;
    object-fit: contain;
}

h1, h2, h4 {
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    font-size: 1.8em;
}
a {
    display: inline-block;
    text-decoration: none;
}

/* palette Styles */
.palette__wrapper{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.palette__item{
    background-color: var(--lightPink-1);
    padding: 20px 30px;
    text-align: center;
    border-radius: 12px;
    width: 150px;
    flex: 1;
    transition: flex 0.3s ease-out;
    cursor: pointer;
}

.palette__item:hover{
    flex: 2;
}

.palette__icon{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.palette__title{
    font-size: 1.4rem;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--black-1);
}
.palette__text{
    font-size: 1.4rem;
    font-family: Raleway;
    color: var(--black-2);
    word-wrap: break-word;
}

@media only screen and (min-width: 768px){
    .palette__wrapper{
        gap: 2rem;
    } 
    .palette__item{
        min-width: 200px;
        padding: 40px 0;
        flex: 2;
    }
    .palette__icon{
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .palette__title{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .palette__text{
        font-size: 1.8rem;
    }
    .palette__item:hover{
        flex: 4;
    }
 }
